@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-green: #267c26;
  --primary-bg: #f5f9fc;
  --primary-text-grey: #565961;
  --primary-white: #fff;
  --primary-black: #212831;
  --circle-green-op: rgba(38, 124, 38, 0.39);
  --circle-green: #5d9c5d;
  --circle-yellow: #fec952;
  --circle-red-op: rgba(250, 103, 88, 0.64);
  --circle-red: #fa6758;
  --circle-blue: #62b8f3;
  --tooltip-grey: #bdbec2;
  --primary-border-grey: #dadddf;
  --yellow-bg: #fcf6ef;
  --footer-text: rgba(255, 255, 255, 0.85);
}

html {
  font-size: 62.5%;
  letter-spacing: -0.45px;
}

body {
  font-family: "Roboto", system-ui;
  overflow-x: hidden;
}

nav {
  position: fixed;
  top: 0%;
  display: flex;
  height: 95px;
  width: 100%;

  margin: 0 auto;
  background: var(--primary-bg);
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 2;
}
.fixed {
  width: 81%;
  max-width: 1296px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 75px;
  height: 74px;
}

nav ul {
  display: flex;

  list-style: none;
  align-items: center;
}

nav ul li {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 8px 12px;
  transition: all 0.3s ease;
}
nav ul li a {
  text-decoration: none;
  color: var(--primary-text-grey);
}

.nav-button-login {
  width: 75px;
  height: 32px;
  padding: 5px;
  margin: auto;
  border: 1px solid var(--primary-green);
  border-radius: 30px;
  background-color: var(--primary-white);
  color: var(--primary-green);
  transition: all 0.3s ease;
}

nav ul li a.active {
  color: var(--primary-green);
}

nav .select {
  position: relative;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .select__trigger div {
  text-align: center;
  width: 35px;
}
.select__trigger {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 14px;
  font-weight: 300;

  cursor: pointer;
  border-radius: 50px;
}

nav .custom-options {
  position: absolute;
  padding: 7px;
  display: block;
  top: 90%;
  left: 0;
  right: 0;
  border-top: 0;
  background: #fff;
  transition: all 0.5s;
  box-shadow: 0px 20px 30px 0px rgba(117, 117, 117, 0.5);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
}

nav .select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  width: 100px;
}

nav .custom-option {
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  font-weight: 300;
  color: #3b3b3b;
  line-height: 60px;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 7px;
}

.custom-option:hover {
  cursor: pointer;
  background-color: rgb(235, 235, 235);
}

.custom-option.selected {
  color: #ffffff;
  background-color: rgb(166, 196, 178);
}

nav .arrow {
  position: relative;
  height: 10px;
  width: 10px;
}

nav .arrow::before,
nav .arrow::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 0.15rem;
  height: 100%;
  transition: all 0.5s;
}

nav .arrow::before {
  left: -3px;
  transform: rotate(45deg);
  background-color: grey;
}

nav .arrow::after {
  left: 3px;
  transform: rotate(-45deg);
  background-color: grey;
}

.open .arrow::before {
  left: -3px;
  transform: rotate(-45deg);
}

.open .arrow::after {
  left: 3px;
  transform: rotate(45deg);
}

nav .menu-btn i {
  color: var(--primary-white);
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

input[type="checkbox"] {
  display: none;
}

.header-section-content {
  position: relative;
  width: 100%;
}
.header {
  background: var(--primary-bg);
}

.header-section {
  width: 81%;
  max-width: 1296px;
  margin: 0 auto;
  height: 645px;

  display: flex;
  align-items: center;
}
.head.cir,
.cir {
  position: absolute;
  border-radius: 50%;
}

.head.cir.circle1 {
  width: 14px;
  height: 14px;
  background-color: var(--circle-green-op);
  top: -36px;
  left: -60px;
}

.head.cir.circle2 {
  width: 10px;
  height: 10px;
  bottom: -18px;
  left: -38px;
  background-color: var(--circle-green);
}

.head.cir.circle3 {
  background-color: var(--circle-yellow);
  height: 12px;
  width: 12px;
  top: 30px;
  right: 32px;
}

.content-heading {
  width: 80%;
  font-weight: 900;
  font-size: 50px;
  line-height: 66px;
}

.content-para {
  color: var(--primary-text-grey);
  font-size: 1.65rem;
  line-height: 30px;
  width: 80%;
}

.header-section-content p:nth-child(2) {
  padding-top: 12px;
}

.content-para a {
  color: var(--primary-green);
}

.timer {
  display: flex;
  color: var(--primary-text-grey);
  padding: 25px 0;
  gap: 10px;
}

.counter {
  height: 55px;
  width: 55px;
  color: var(--primary-white);
  background-color: var(--primary-green);
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.counter .numbers {
  font-size: 22px;
  font-weight: 600;
}
.header-section-image {
  width: 80%;
  position: relative;
}

.head.cir.circle4 {
  background-color: var(--circle-red-op);
  bottom: -61.26px;
  left: 10px;
  height: 24px;
  width: 24px;
}

.head.cir.circle5 {
  width: 20px;
  height: 20px;
  background-color: var(--circle-blue);
  bottom: -101.26px;
  right: 25px;
}

/* PRICING SECTION */
.pricing {
  width: 81%;
  max-width: 1296px;

  margin: 87px auto 0;
}

.pricing-content-switching {
  display: flex;
}

.pricing-heading-content {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

.pricing-heading {
  position: relative;
}

.pricing-content {
  position: absolute;
  top: 0;
  left: 250px;
}

.pricing-heading h1 {
  font-size: 48px;
}
.percent-para,
.months-para {
  font-size: 1.18rem;
}
.pricing-redtag {
  height: 64px;
  width: 230px;
  padding: 15px;
  color: var(--primary-white);
  background-image: url(assets/images/redtag.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.head.cir.circle7 {
  height: 14px;
  width: 14px;
  background-color: var(--circle-red);
  position: absolute;
  top: -11px;
  left: -141px;
}

.toogle-switch {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.toogle-switch h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: 0.02em;
}

.switch {
  position: relative;
  display: inline-block;
  width: 90.43px;
  height: 38px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 29px;
  width: 29px;
  left: 6px;
  bottom: 5px;
  background-color: var(--primary-white);
  transition: 0.4s;
}

input + .slider {
  background-color: var(--primary-green);
}

input:checked + .slider:before {
  transform: translateX(48px);
}

.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

.pricing-switching {
  margin-top: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.pricing-switching .select-wrapper {
  position: absolute;
  right: 0;
  user-select: none;
  width: 210px;
}

.pricing-switching .select {
  position: relative;
  height: 56px;
  display: flex;
  align-items: center;
  border: 1px solid green;
  border-radius: 50px;
  justify-content: space-evenly;
}

.pricing-switching .select__trigger {
  position: relative;
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: center;
  padding: 0 22px;
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--primary-black);
  height: 40px;
  line-height: 60px;
  background: #ffffff;
  cursor: pointer;
  border: 1px solid var(--primary-green);
  border-radius: 50px;
}

.pricing-switching .custom-options {
  position: absolute;
  padding: 7px;
  display: block;
  top: 90%;
  left: 0;
  right: 0;
  border-top: 0;
  background: #fff;
  transition: all 0.5s;
  box-shadow: 0px 20px 30px 0px rgba(117, 117, 117, 0.5);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
}

.pricing-switching .select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;

  border-radius: 10px;
}

.pricing-switching .custom-option {
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  font-weight: 300;
  color: #3b3b3b;
  line-height: 60px;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 7px;
}

.pricing-switching .custom-option:hover {
  cursor: pointer;
  background-color: rgb(235, 235, 235);
}

.pricing-switching .custom-option.selected {
  background-color: var(--primary-bg);
}

.pricing-switching .arrow {
  position: relative;
  height: 10px;
  width: 10px;
}

.pricing-switching .arrow::before,
.pricing-switching .arrow::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 0.15rem;
  height: 100%;
  transition: all 0.5s;
}

.pricing-switching .arrow::before {
  left: -3px;
  transform: rotate(45deg);
  background-color: var(--primary-green);
}

.pricing-switching .arrow::after {
  left: 3px;
  transform: rotate(-45deg);
  background-color: var(--primary-green);
}

.pricing-switching .open .arrow::before {
  left: -3px;
  transform: rotate(-45deg);
}

.pricing-switching .open .arrow::after {
  left: 3px;
  transform: rotate(45deg);
}
.pricing-cards {
  max-width: 1296px;
  display: flex;
  justify-content: space-between;
  padding: 60px 15px;
  overflow-x: auto;
}
.pricing-cards .cards {
  width: 399px;
  height: 694px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 10px 60px rgba(38, 45, 118, 0.08);
  background-color: var(--primary-white);
}
.pricing-cards .cards.active {
  background-color: var(--primary-green);
  color: white;
}
.active .texts span {
  color: var(--primary-white);
}
.active .started-btn input {
  background-color: var(--primary-white);
  color: var(--primary-green);
}
.price-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 30px;
}
.card-server .price-details {
  padding: 40px 0 75px;
}
.card-heading h3 {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.05em;
}
.staff-selector {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.staff h3 {
  font-size: 14px;
  font-weight: 400;
}
.staff-selector .select-wrapper {
  user-select: none;
  width: 115px;
}

.staff-selector .select {
  position: relative;
  height: 30px;
  display: flex;
  border: 1px solid var(--primary-green);
  border-radius: 50px;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary-bg);
}
.staff-selector .select__trigger div {
  text-align: center;
  width: 60px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.staff-selector .select__trigger {
  position: relative;
  font-size: 14px;
  font-weight: 300;
  color: var(--primary-green);
  cursor: pointer;
  border-radius: 50px;
}

.staff-selector .custom-options {
  position: absolute;
  padding: 7px;
  display: block;
  top: 90%;
  left: 0;
  right: 0;
  border-top: 0;
  background: #fff;
  transition: all 0.5s;
  box-shadow: 0px 20px 30px 0px rgba(117, 117, 117, 0.5);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
}

.staff-selector .select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  width: 182px;
  border-radius: 10px;
}

.staff-selector .custom-option {
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  font-weight: 300;
  color: var(--primary-text-grey);
  line-height: 60px;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 7px;
}

.staff-selector .custom-option:hover {
  cursor: pointer;
  background-color: rgb(235, 235, 235);
}

.staff-selector .custom-option.selected {
  background-color: var(--primary-bg);
}

.staff-selector .arrow {
  position: relative;
  height: 10px;
  width: 10px;
}

.staff-selector .arrow::before,
.staff-selector .arrow::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 0.15rem;
  height: 100%;
  transition: all 0.5s;
}

.staff-selector .arrow::before {
  left: -3px;
  transform: rotate(45deg);
  background-color: var(--primary-green);
}

.staff-selector .arrow::after {
  left: 3px;
  transform: rotate(-45deg);
  background-color: var(--primary-green);
}

.staff-selector .open .arrow::before {
  left: -3px;
  transform: rotate(-45deg);
}

.staff-selector .open .arrow::after {
  left: 3px;
  transform: rotate(45deg);
}
.price-features {
  align-self: flex-start;
  padding-left: 30px;
  margin: 33px 0;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.act-price {
  margin-top: 15px;
}
.act-price h3 {
  text-decoration: line-through;
  font-size: 16px;
  font-weight: 400;
}
.disc-price {
  margin-top: 5px;
}
.disc-price h1 {
  font-size: 32px;
}
.texts {
  font-size: 12px;
}
.texts .tooltip > i {
  margin-right: 10px;
  color: var(--tooltip-grey);
}
.texts span {
  color: var(--primary-text-grey);
}
.started-btn input {
  width: 160px;
  height: 48px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  background-color: var(--primary-green);
  color: var(--primary-white);
  border: none;
}
.card-server a {
  margin-top: 20px;
  font-size: 14px;
  color: var(--primary-green);
}
.compare {
  display: flex;
  justify-content: center;
  margin: 60px 0 101px;
}
.compare a {
  text-decoration: none;
  color: var(--primary-green);
  font-size: 16px;
  letter-spacing: 00.02em;
  font-weight: 600;
}

.table-circles {
  position: relative;
  width: 81%;
  max-width: 1296px;
  margin: 0 auto;
  overflow: auto;
  border: 1px solid var(--primary-border-grey);
  border-radius: 27px;
}

.circle9 {
  height: 20px;
  width: 20px;
  background-color: var(--circle-yellow);
  top: 84px;
  right: -42px;
}
.circle10 {
  height: 14px;
  width: 14px;
  background-color: var(--circle-red);
  bottom: 146px;
  left: -29px;
}

.actual-table {
  border-radius: 27px;
  border: 1px solid transparent;
  overflow: hidden;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}
thead {
  background-color: var(--primary-bg);
}
thead tr th:first-child {
  padding: 22px 0 18px 50px;
  text-align: start;
}
tbody tr > :not(:first-child) {
  text-align: center;
}
tbody tr > :first-child {
  padding: 30px 50px;
}
tbody tr > :first-child > span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
tbody tr > :first-child > span > span:first-child {
  display: flex;
  align-items: center;
}

th span {
  font-weight: 500;
  letter-spacing: 0.05em;
}
tr > td:last-child {
  border-right: none;
}
td > div,
th > div,
td > span,
th > span {
  font-size: 16px;
}

tbody td {
  border-top: 1px solid var(--primary-border-grey);
  border-right: 1px solid var(--primary-border-grey);
}
tbody i {
  color: var(--tooltip-grey);
}
tbody img {
  padding-right: 10px;
}
thead i {
  color: var(--primary-green);
}

#details-link {
  padding-right: 81px;
  text-align: right;
}
#details-link a {
  color: var(--primary-green);
  text-decoration: none;
}
.Social-media-market {
  margin: 100px 0;
}
.content-circle {
  width: 81%;
  max-width: 1296px;
  margin: 0 auto;
  position: relative;
  background-color: var(--yellow-bg);
  border-radius: 20px;
}
.circle11 {
  height: 14px;
  width: 14px;
  background-color: var(--circle-red);
  top: 150px;
  left: -29px;
}
.content {
  display: flex;
  flex-direction: column;
  padding: 64px;
}
.smm-content-image {
  display: flex;
  justify-content: center;
  height: 70px;
  width: 70px;
  border-radius: 17px;
  background-color: var(--circle-yellow);
}
.smm-content-heading {
  margin-top: 20px;
}
.smm-content-heading h1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 44px;
}
.smm-content-para {
  margin-top: 10px;
}
.smm-content-para p {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--primary-text-grey);
}
.faq-section {
  background-color: var(--primary-bg);
}
.faq {
  width: 81%;
  max-width: 1296px;
  margin: 0 auto;
  padding: 70px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.circle12 {
  height: 34px;
  width: 34px;
  background-color: var(--circle-green-op);
  right: 136px;
  top: 93px;
}
.circle13 {
  height: 70px;
  width: 70px;
  background-color: var(--primary-white);
  left: -88px;
  bottom: 104px;
}
.faq-heading {
  margin-bottom: 30px;
}
.faq-heading h1 {
  font-size: 4.4rem;
}
.faq-questions {
  width: 100%;
}

.questions {
  margin: 30px 0;
  padding: 40px;
  cursor: pointer;
  background-color: var(--primary-white);
  border-radius: 12px;
}
.questions .arrow i {
  color: var(--primary-green);
  font-size: 18px;
}
.question h3 {
  font-size: 18px;
  letter-spacing: 0.025em;
  color: var(--primary-text-grey);
}
.question-content {
  display: none;
}
.question-content p {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--primary-text-grey);
}
.question-content.active {
  display: block;
}
.question-arrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.questions.active .question h3 {
  color: var(--primary-green);
}
.request-demo {
  margin: 100px 0;
}
.ready {
  width: 81%;
  max-width: 1296px;
  margin: 0 auto;
  padding: 50px;
  background-color: var(--primary-bg);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.circle14 {
  height: 26px;
  width: 26px;
  background-color: var(--circle-red);
  right: -57px;
  bottom: 0;
}
.ready-content-heading h1 {
  font-size: 3.8rem;
}
.ready-content-para p {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--primary-text-grey);
}
.request-btn input[type="button"] {
  height: 60px;
  width: 220px;
  border: none;
  border-radius: 50px;
  background-color: var(--primary-green);
  color: var(--primary-white);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.05em;
}
footer {
  background-color: var(--primary-green);
}
.nav-links {
  width: 81.25%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  padding-top: 146px;
  flex-wrap: wrap;
}
.qampus-social {
  display: flex;
  column-gap: 0.625rem;
}

.qampus-social a {
  text-decoration: none;
  color: var(--primary-white);
  font-size: 16px;
}
.social {
  height: 34px;
  width: 34px;
  border-radius: 7px;
  background: rgba(255, 255, 255, 0.16);
  display: flex;
  justify-content: center;
  align-items: center;
}
.social:hover {
  background-color: var(--primary-white);
  color: var(--primary-green);
}
.discription {
  position: relative;
  width: 331px;
  top: -70px;
}
.ft {
  position: absolute;
}
.discription-content {
  margin: 12px 0 50px;
  color: var(--footer-text);
  font-size: 14px;
}
.campus-links {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 10%;
}
.campus-links > div {
  display: flex;
  flex: 1;
}
.campus-links .link {
  flex: 1;
}
.campus-links ul {
  list-style: none;
}
.campus-links ul a {
  text-decoration: none;
  color: var(--footer-text);
  font-size: 1.55rem;
}
.campus-links ul a:hover {
  color: var(--primary-white);
}
.link-heading {
  color: var(--primary-white);
  margin-bottom: 12px;
}
.link-heading h3 {
  font-size: 1.65rem;
}
.campus-links ul li {
  padding-bottom: 10px;
}
.links-contact {
  width: 180px;
}
.copy-rights {
  padding: 30px 0;
  text-align: center;
}
.copy-rights p {
  color: var(--primary-white);
  font-weight: 400;
  font-size: 1.45rem;
  line-height: 24px;
}
.line {
  margin-top: 13px;
}
.line hr {
  width: 81.25%;
  max-width: 1300px;
  margin: auto;
  border: 1px solid rgba(255, 255, 255, 0.16);
}
.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  text-overflow: clip;
  white-space: nowrap;
  background-color: white;
  color: grey;
  text-align: center;
  border: 1px solid var(--circle-yellow);
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 5;
  top: 150%;
  margin-left: -30px;
  opacity: 0;
  transition: opacity 1s;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 15px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--circle-yellow) transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.tooltiptext i {
  padding: 0 5px;
  color: var(--circle-yellow);
}
::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}
@media only screen and (max-width: 1536px) {
  .header-section {
    gap: 71px;
  }
  .header-section-image img {
    width: 475px;
  }
  .pricing-cards .cards {
    width: 340px;
  }
  .pricing-cards {
    justify-content: space-around;
  }
  .price-features {
    padding-left: 15px;
  }
}
@media screen and (max-width: 1280px) {
  .actual-table {
    width: 1294px;
  }
  .pricing-cards {
    display: flex;
    white-space: nowrap;
    overflow-x: scroll;
    justify-content: start;
    width: 100%;
    padding: 60px 30px;
  }

  .card-standard {
    margin: 0 30px;
  }
}
@media only screen and (max-width: 1024px) {
  .logo img {
    width: 50px;
    height: 40px;
  }
  nav ul li {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 6px 10px;
    transition: all 0.3s ease;
  }
  nav .select__trigger div {
    margin-right: 12px;
  }
  nav .select__trigger {
    font-size: 12px;
  }
  .custom-option {
    font-size: 12px;
  }
  nav .arrow {
    width: 8px;
    height: 8px;
  }
  .content-heading {
    font-size: 36px;
    line-height: 46px;
    font-weight: 700;
  }
  .header-section-image img {
    max-width: 100%;
    width: 475px;
  }
  .content-para {
    font-size: 1.2rem;
  }
  .counter {
    height: 45px;
    width: 45px;
    justify-content: center;
  }
  .counter .numbers {
    font-size: 18px;
  }
  .pricing-heading h1 {
    font-size: 34px;
  }
  .percent-para,
  .months-para {
    font-size: 1rem;
  }
  .pricing-redtag {
    height: 60px;
    width: 190px;
    padding: 10px;
    background-size: contain;
  }
  .pricing-content {
    left: 144px;
  }
  .toogle-switch h3 {
    font-size: 16px;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 65px;
    height: 32px;
  }
  .slider:before {
    height: 23px;
    width: 23px;
  }
  input:checked + .slider:before {
    transform: translateX(30px);
  }
  .pricing-switching .select {
    height: 48px;
  }
  .pricing-switching .select-wrapper {
    width: 146px;
  }
  .smm-content-heading h1 {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.02em;
  }
  .content {
    padding: 30px;
  }
  .faq-heading h1 {
    font-size: 3.6rem;
  }
  .questions {
    padding: 20px;
  }
  .ready-content-heading h1 {
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.02em;
  }
  tbody tr > :first-child {
    padding: 20px 30px;
    width: 300px;
  }
  .request-btn input[type="button"] {
    height: 50px;
    width: 180px;
  }
  .campus-links {
    padding-left: 0;
  }
}
@media screen and (max-width: 768px) {
  .cir {
    display: none;
  }
  .fixed,
  .header-section,
  .pricing,
  .table-circles,
  .content-circle,
  .faq,
  .ready {
    width: 95%;
  }
  nav ul li {
    padding: 6px 6px;
  }
  .header-section {
    padding: 100px 0 60px;
    height: unset;
    flex-direction: column;
  }
  .header-section-image {
    width: unset;
  }
  .pricing-content {
    position: static;
    margin-top: 20px;
  }
  .pricing-heading h1 {
    font-size: 28px;
    text-align: center;
  }
  .pricing-switching {
    margin-top: 40px;
    flex-direction: column;
  }
  .pricing-switching .select-wrapper {
    margin-top: 20px;
    position: static;
  }
  .smm-content-image {
    width: 50px;
    height: 50px;
  }
  .smm-content-para p {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
  }
  .question h3 {
    font-size: 14px;
  }
  .content {
    padding: 20px;
  }
  .question-content p {
    font-size: 12px;
    line-height: 20px;
  }
  .ft {
    position: static;
  }
}

@media screen and (max-width: 640px) {
  .header-section {
    flex-direction: column;
  }
  nav .menu-btn i {
    display: block;
    color: var(--primary-black);
    font-size: 28px;
  }

  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
    color: var(--primary-black);
  }

  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: var(--primary-bg);
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }

  #click:checked ~ ul {
    left: 0;
  }

  nav ul li {
    width: 100%;
    margin: 40px 0;
  }

  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  #click:checked ~ ul li a {
    margin-left: 0px;
  }
}
@media screen and (max-width: 425px) {
  .pricing-cards {
    flex-direction: column;
    overflow: auto;
  }
  .pricing-cards .cards {
    max-width: 316px;
    width: 95%;
    overflow: hidden;
  }
  .card-standard {
    margin: 20px 0;
  }
  .Social-media-market {
    margin: 60px 0;
  }
  .ready {
    flex-direction: column;
    text-align: center;
  }

  .request-demo {
    margin: 60px 0;
  }

  .request-btn input[type="button"] {
    margin-top: 20px;
  }
  .circle12 {
    height: 12px;
    width: 12px;
    right: 94px;
  }
}
